
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-truck:before { content: '\e801'; } /* '' */
.icon-credit-card:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
